$primary: #EA40A4;
$progress: #3a82ee;
$light: #EEE;
$grey: #888;
$dark: #313154;
$danger: #ff5b57;

$shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

$progress-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
$notstarted-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);